.swiper-pagination-bullet {
  position: relative;
  width: 18px;
  height: 2px;
  background: #fff;
  border-radius: 0;
  opacity: 0.2;
  counter-increment: pages;

  &::after {
    position: absolute;
    top: -7px;
    left: -24px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    content: counter(pages, decimal-leading-zero);
  }
}
.swiper-container-vertical
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 0 28px;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  top: calc(50% + 40px);
  right: 0;
}
