@import './abstracts/variables';
@import './abstracts/inheritance';
@import './abstracts/functions';
@import './abstracts/mixins';

html,
body {
  background-color: hsl(var(--dark));
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@import './normalize';
@import './layout';

@import './utilities/btn';

@import './header/header';
@import './pages/home';

@import './cursor';